# Exam 2 - Gema Castillo García

In [4]:
%load_ext sql
%config SqlMagic.autocommit=True
%sql mysql+pymysql://root:root@127.0.0.1:3306/mysql

'Connected: root@mysql'


## Problem 1:  Controls

Write a Python script that proves that the lines of data in Germplasm.tsv, and LocusGene are in the same sequence, based on the AGI Locus Code (ATxGxxxxxx).  (hint: This will help you decide how to load the data into the database)

In [170]:
import pandas as pd
import csv

df = pd.read_csv('Germplasm.tsv', sep='\t')
matrix2 = df[df.columns[0]].to_numpy()
germplasm = matrix2.tolist()
print(germplasm) #to see the first column (AGI Locus Codes) of Germplasm.tsv

print()

df = pd.read_csv('LocusGene.tsv', sep='\t')
matrix2 = df[df.columns[0]].to_numpy()
locus = matrix2.tolist()
print(locus) #to see the first column (AGI Locus Codes) of LocusGene.tsv

['AT1G01040', 'AT1G01060', 'AT1G01140', 'AT1G01220', 'AT2G03720', 'AT2G03800', 'AT2G04240', 'AT2G05210', 'AT3G02130', 'AT3G02140', 'AT3G02230', 'AT3G02260', 'AT3G02310', 'AT3G02680', 'AT3G02850', 'AT3G02870', 'AT3G03260', 'AT4G14790', 'AT4G15210', 'AT4G15560', 'AT4G15570', 'AT4G15802', 'AT4G15880', 'AT4G16420', 'AT4G16480', 'AT5G10480', 'AT5G10510', 'AT5G11110', 'AT5G11260', 'AT5G11510', 'AT5G12200', 'AT5G13290']

['AT1G01040', 'AT1G01060', 'AT1G01140', 'AT1G01220', 'AT2G03720', 'AT2G03800', 'AT2G04240', 'AT2G05210', 'AT3G02130', 'AT3G02140', 'AT3G02230', 'AT3G02260', 'AT3G02310', 'AT3G02680', 'AT3G02850', 'AT3G02870', 'AT3G03260', 'AT4G14790', 'AT4G15210', 'AT4G15560', 'AT4G15570', 'AT4G15802', 'AT4G15880', 'AT4G16420', 'AT4G16480', 'AT5G10480', 'AT5G10510', 'AT5G11110', 'AT5G11260', 'AT5G11510', 'AT5G12200', 'AT5G13290']

In [171]:
if (germplasm == locus):
    print("lines of data are in the same sequence")
else:
    print("lines of data are not in the same sequence")

lines of data are in the same sequence

DECIR QUE SÍ QUE COINCIDEN Y QUE TB SE VE A SIMPLE VISTA EN EL ANTERIOR OUTPUT.

In [150]:
germplasm_file = open("Germplasm.tsv", "r") ##opening the Germplasm.tsv file
locus_file = open("LocusGene.tsv", "r") ##opening the LocusGene.tsv file

import re

germplasm_file.seek(0) #seek allows to relocate the pointer to the beginning (0)
locus_file.seek(0)
#print(germplasm_file.read()) returns a table but print(germplasm_file.readlines()) returns a list, which means we can use it in a FOR loop


germplasm = germplasm_file.readlines()
locus = locus_file.readlines()

#germplasm_file.close() ##closing the Germplasm.tsv file
#locus_file.close() ##closing the LocusGene.tsv file


for line in germplasm:
    matchObj1 = re.search( r'AT[1-5]G[0-9]{5}', line)  #match the AGI Locus Code (ATxGxxxxxx)
    if matchObj1:
        locus_germ = matchObj1.group()
        #print(locus_germ) ##to see if the search has worked (the answer is yes)
    else:
        print ("No match!!")


for line in locus:
    matchObj2 = re.search( r'AT[1-5]G[0-9]{5}', line)  #match the AGI Locus Code (ATxGxxxxxx)
    if matchObj2:
        locus_locus = matchObj2.group()
        #print(locus_locus) ##to see if the search has worked (the answer is yes)
    else:
        print ("No match!!")
        

if (locus_germ == locus_locus):
    print("lines of data are in the same sequence")
else:
    print("lines of data are not in the same sequence")

No match!!
No match!!
lines of data are in the same sequence

Los 2 No match!! se corresponden con los headers, pero los AGI del resto de filas coinciden entre las dos tablas (esto tb se observa a simple vista con los print que he ocultado).

## Problem 2:  Design and create the database.  
* It should have two tables - one for each of the two data files.
* The two tables should be linked in a 1:1 relationship
* you may use either sqlMagic or pymysql to build the database

In [3]:
##creating a database called germplasm
%sql create database germplasm;


##showing the existing databases
%sql show databases;

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
5 rows affected.

[('information_schema',),
 ('germplasm',),
 ('mysql',),
 ('performance_schema',),
 ('sys',)]

In [8]:
##selecting the new database to interact with it
%sql use germplasm;


%sql show tables;
##the database is empty (it has not tables as expected)

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
0 rows affected.
0 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
0 rows affected.

[]

In [169]:
##showing the structure of the tables I want to add to the germplasm database
germplasm_file = open("Germplasm.tsv", "r")
print(germplasm_file.read())

print()
print()

locus_file = open("LocusGene.tsv", "r")
print(locus_file.read())

germplasm_file.close() ##closing the Germplasm.tsv file
locus_file.close() ##closing the LocusGene.tsv file

Locus	germplasm	phenotype	pubmed
AT1G01040	CS3828	Increased abundance of miRNA precursors.	17369351
AT1G01060	lhy-101	The mutant plants are hypersensitive to both FRc and Rc light treatments in hypocotyl elongation and exhibits a small reciprocal enlargement in cotyledon area, albeit not statistically significant.	16891401
AT1G01140	SALK_058629	hypersensitive to low potassium media	17486125
AT1G01220	SALK_012400C	fkgp-1 mutants have about 40 times more L-fucose than wild type Arabidopsis plants, but the levels of other monosaccharides do not appear to differ significantly in the mutants. No obvious phenotypic abnormalities were observed in the fkgp-1 mutants, nor were any differences in the sugar composition of cell wall polysaccharides detected.	18199744
AT2G03720	SALK_042433	Multiple straight hairs	16367956
AT2G03800	gek1-1	Ethanol hypersensitivity.	15215505
AT2G04240	xerico	Resistant to exogenous ABA. Seeds contained lower amounts of endogenous ABA than wildtype.	17933900
AT2G05210	pot1-1	No visible phenotype.	17627276
AT3G02130	rpk2-2	The homozygous progeny is indistinguishable from wild-type plants during vegetative growth but showed several morphological alterations after bolting. These plants displayed enhanced inflorescence branching and formed three times as many siliques and flowers as did wild-type plants.	17419837
AT3G02140	afp4-1	Decreased germination on high concentrations of glucose and sorbitol.	18484180
AT3G02230	rgp1-1	rgp1-1 mutants have significantly lower levels of UDP-L-arabinose mutase activity compared to wild-type plants and significantly lower levels of arabinose in their cell walls.	21478444
AT3G02260	tir3-1 RGLG1:rglg1 rglg2	The triple homozygous progeny has low viability, accumulated anthocyanin, and all plants died before shoot emergence.	17586653
AT3G02310	sep2-1	Non-described subtle phenotype.	10821278
AT3G02680	atnbs1-1	Significantly smaller when grown in the presence of methyl methanosulfonate (MMS) with root growth.  Normal growth under standard growth conditions.	17672843
AT3G02850	CS3816	The skor-1 mutant is sensitive to toxic cations in addition to K+ depletion.	17568770
AT3G02870	vtc4-1	ascorbate deficient	16595667
AT3G03260	hdg8-1	No visible phenotype.	16778018
AT4G14790	pdd17	Defective pollen development.	19237690
AT4G15210	bmy1-2	Plants cold-shocked for 6h have an increased starch content compared to wildtype.	16297066
AT4G15560	cla1-1	Mutant seeds grown on medium supplemented with non-phosphorylated synthetic 1-deoxy-D-xylulose (DX) develop green leaves.	10982425
AT4G15570	maa3	Homozygotes are not recovered. Female gametophyte development is delayed and asynchronous. During fertilization, fusion of polar nuclei does not occur. Polar nuclei nucloeli are smaller than WT.	18772186
AT4G15802	Athspb-2	Early flowering, reduced fertility, aborted seeds.	20388662
AT4G15880	esd4-2	Decreased mRNA levels of the floral repressors FLC and MAF4 and increased mRNA levels of the floral activators FT and SOC1.	17513499
AT4G16420	prz1-1	Altered response to auxin and cytokinin	12747832
AT4G16480	atint4-2	No visible phenotype.	16603666
AT5G10480	pas2-3	Segregates 25% embryo lethal.	18799749
AT5G10510	plt3-1	Short roots and shortened root meristem.	17960244
AT5G11110	kns2	Defects are specific to pollen exine structure. Smaller mesh size in the exine structure. Increased number of baculae. Fully fertile.	18779216
AT5G11260	hy5-101	Under FRc conditions, the length mutant hypocotyls is increased compared to that of wild-type plants.  Under Rc conditions, the hypocotyl length is also increased and the cotyledon area is smaller.	16891401
AT5G11510	myb3r4-1	No visible phenotype.	17287251
AT5G12200	pyd2-2	The pyd2-2 mutant has a wild-type appearance under normal growth conditions. Pyrimidine nucleotide and uridine levels are not changed in the mutant, but uracil levels are increased. These mutants cannot grow normally when uracil is provided as a sole nitrogen source.	19413687
AT5G13290	crn-1	Increased meristem size. Vegetative meristems are are 30% larger than wild type. After bolting inflorescence meristems are enlarged and occasionally fasciated. Flowers occasionally produce extra organs in the first 3.	12345678



Locus	Gene	ProteinLength
AT1G01040	DCL1	332
AT1G01060	LHY	290
AT1G01140	CIPK9	223
AT1G01220	FKGP	190
AT2G03720	MRH6	189
AT2G03800	GEK1	196
AT2G04240	XERICO	256
AT2G05210	POT1A	221
AT3G02130	RPK2	284
AT3G02140	TMAC2	300
AT3G02230	RGP1	301
AT3G02260	BIG	279
AT3G02310	SEP2	175
AT3G02680	NBS1	190
AT3G02850	SKOR	234
AT3G02870	VTC4	311
AT3G03260	HDG8	194
AT4G14790	SUV3	312
AT4G15210	BAM5	313
AT4G15560	DXS	219
AT4G15570	MAA3	294
AT4G15802	HSBP	254
AT4G15880	ESD4	265
AT4G16420	ADA2B	279
AT4G16480	INT4	284
AT5G10480	PAS2	301
AT5G10510	AIL6	310
AT5G11110	SPS2	232
AT5G11260	HY5	221
AT5G11510	MYB3R-4	336
AT5G12200	PYD2	310
AT5G13290	CRN	189

In [9]:
##creating a table for Germplasm data
%sql CREATE TABLE Germplasm_table(locus VARCHAR(10) NOT NULL PRIMARY KEY, germplasm VARCHAR(30) NOT NULL, phenotype VARCHAR(1000) NOT NULL, pubmed INTEGER NOT NULL);
%sql DESCRIBE Germplasm_table;

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
0 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
4 rows affected.

[('locus', 'varchar(10)', 'NO', 'PRI', None, ''),
 ('germplasm', 'varchar(30)', 'NO', '', None, ''),
 ('phenotype', 'varchar(1000)', 'NO', '', None, ''),
 ('pubmed', 'int(11)', 'NO', '', None, '')]

In [10]:
##creating a table for Locus data
%sql CREATE TABLE Locus_table(locus VARCHAR(10) NOT NULL PRIMARY KEY, gene VARCHAR(10) NOT NULL, protein_lenght INTEGER NOT NULL);
%sql DESCRIBE Locus_table;

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
0 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
3 rows affected.

[('locus', 'varchar(10)', 'NO', 'PRI', None, ''),
 ('gene', 'varchar(10)', 'NO', '', None, ''),
 ('protein_lenght', 'int(11)', 'NO', '', None, '')]

In [11]:
##showing the created tables
%sql show tables;

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
2 rows affected.

[('Germplasm_table',), ('Locus_table',)]

In [12]:
##showing all of the data linking the two tables in a 1:1 relationship (it is empty because I have not introduced the data yet)
%sql SELECT Germplasm_table.locus, Germplasm_table.germplasm, Germplasm_table.phenotype, Germplasm_table.pubmed, Locus_table.gene, Locus_table.protein_lenght\
FROM Germplasm_table, Locus_table\
WHERE Germplasm_table.locus = Locus_table.locus;

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
0 rows affected.

[]

- I have designed a database with two tables: Germplasm_table for Germplasm.tsv and Locus_table for LocusGene.tsv
- The primary keys to link the two tables in a 1:1 relationship are in the 'locus' column of each table

## Problem 3: Fill the database
Using pymysql, create a Python script that reads the data from these files, and fills the database.  There are a variety of strategies to accomplish this.  I will give all strategies equal credit - do whichever one you are most confident with.

In [13]:
%sql INSERT INTO Germplasm_table (locus, germplasm , phenotype, pubmed) VALUES ('AT1G01040','CS3828','Increased abundance of miRNA precursors.',17369351) ##row 1
%sql INSERT INTO Germplasm_table (locus, germplasm , phenotype, pubmed) VALUES ('AT1G01060','lhy-101','The mutant plants are hypersensitive to both FRc and Rc light treatments in hypocotyl elongation and exhibits a small reciprocal enlargement in cotyledon area, albeit not statistically significant.',16891401) ##row 2
%sql INSERT INTO Germplasm_table (locus, germplasm , phenotype, pubmed) VALUES ('AT1G01140','SALK_058629','hypersensitive to low potassium media',17486125) ##row 3
%sql INSERT INTO Germplasm_table (locus, germplasm , phenotype, pubmed) VALUES ('AT1G01220','SALK_012400C','fkgp-1 mutants have about 40 times more L-fucose than wild type Arabidopsis plants, but the levels of other monosaccharides do not appear to differ significantly in the mutants. No obvious phenotypic abnormalities were observed in the fkgp-1 mutants, nor were any differences in the sugar composition of cell wall polysaccharides detected.',18199744) ##row 4
%sql INSERT INTO Germplasm_table (locus, germplasm , phenotype, pubmed) VALUES ('AT2G03720','SALK_042433','Multiple straight hairs',16367956) ##row 5
%sql INSERT INTO Germplasm_table (locus, germplasm , phenotype, pubmed) VALUES ('AT2G03800','gek1-1','Ethanol hypersensitivity.',15215505) ##row 6
%sql INSERT INTO Germplasm_table (locus, germplasm , phenotype, pubmed) VALUES ('AT2G04240','xerico','Resistant to exogenous ABA. Seeds contained lower amounts of endogenous ABA than wildtype.',17933900) ##row 7
%sql INSERT INTO Germplasm_table (locus, germplasm , phenotype, pubmed) VALUES ('AT2G05210','pot1-1','No visible phenotype.',17627276) ##row 8
%sql INSERT INTO Germplasm_table (locus, germplasm , phenotype, pubmed) VALUES ('AT3G02130','rpk2-2','The homozygous progeny is indistinguishable from wild-type plants during vegetative growth but showed several morphological alterations after bolting. These plants displayed enhanced inflorescence branching and formed three times as many siliques and flowers as did wild-type plants.',17419837) ##row 9
%sql INSERT INTO Germplasm_table (locus, germplasm , phenotype, pubmed) VALUES ('AT3G02140','afp4-1','Decreased germination on high concentrations of glucose and sorbitol.',18484180) ##row 10
%sql INSERT INTO Germplasm_table (locus, germplasm , phenotype, pubmed) VALUES ('AT3G02230','rgp1-1','rgp1-1 mutants have significantly lower levels of UDP-L-arabinose mutase activity compared to wild-type plants and significantly lower levels of arabinose in their cell walls.',21478444) ##row 11
%sql INSERT INTO Germplasm_table (locus, germplasm , phenotype, pubmed) VALUES ('AT3G02260','tir3-1 RGLG1:rglg1 rglg2','The triple homozygous progeny has low viability, accumulated anthocyanin, and all plants died before shoot emergence.',17586653) ##row 12
%sql INSERT INTO Germplasm_table (locus, germplasm , phenotype, pubmed) VALUES ('AT3G02310','sep2-1','Non-described subtle phenotype.',10821278) ##row 13
%sql INSERT INTO Germplasm_table (locus, germplasm , phenotype, pubmed) VALUES ('AT3G02680','atnbs1-1','Significantly smaller when grown in the presence of methyl methanosulfonate (MMS) with root growth.  Normal growth under standard growth conditions.',17672843) ##row 14
%sql INSERT INTO Germplasm_table (locus, germplasm , phenotype, pubmed) VALUES ('AT3G02850','CS3816','The skor-1 mutant is sensitive to toxic cations in addition to K+ depletion.',17568770) ##row 15
%sql INSERT INTO Germplasm_table (locus, germplasm , phenotype, pubmed) VALUES ('AT3G02870','vtc4-1','ascorbate deficient',16595667) ##row 16
%sql INSERT INTO Germplasm_table (locus, germplasm , phenotype, pubmed) VALUES ('AT3G03260','hdg8-1','No visible phenotype.',16778018) ##row 17
%sql INSERT INTO Germplasm_table (locus, germplasm , phenotype, pubmed) VALUES ('AT4G14790','pdd17','Defective pollen development.',19237690) ##row 18
%sql INSERT INTO Germplasm_table (locus, germplasm , phenotype, pubmed) VALUES ('AT4G15210','bmy1-2','Plants cold-shocked for 6h have an increased starch content compared to wildtype.',16297066) ##row 19
%sql INSERT INTO Germplasm_table (locus, germplasm , phenotype, pubmed) VALUES ('AT4G15560','cla1-1','Mutant seeds grown on medium supplemented with non-phosphorylated synthetic 1-deoxy-D-xylulose (DX) develop green leaves.',10982425) ##row 20
%sql INSERT INTO Germplasm_table (locus, germplasm , phenotype, pubmed) VALUES ('AT4G15570','maa3','Homozygotes are not recovered. Female gametophyte development is delayed and asynchronous. During fertilization, fusion of polar nuclei does not occur. Polar nuclei nucloeli are smaller than WT.',18772186) ##row 21
%sql INSERT INTO Germplasm_table (locus, germplasm , phenotype, pubmed) VALUES ('AT4G15802','Athspb-2','Early flowering, reduced fertility, aborted seeds.',20388662) ##row 22
%sql INSERT INTO Germplasm_table (locus, germplasm , phenotype, pubmed) VALUES ('AT4G15880','esd4-2','Decreased mRNA levels of the floral repressors FLC and MAF4 and increased mRNA levels of the floral activators FT and SOC1.',17513499) ##row 23
%sql INSERT INTO Germplasm_table (locus, germplasm , phenotype, pubmed) VALUES ('AT4G16420','prz1-1','Altered response to auxin and cytokinin',12747832) ##row 24
%sql INSERT INTO Germplasm_table (locus, germplasm , phenotype, pubmed) VALUES ('AT4G16480','atint4-2','No visible phenotype.',16603666) ##row 25
%sql INSERT INTO Germplasm_table (locus, germplasm , phenotype, pubmed) VALUES ('AT5G10480','pas2-3','Segregates 25% embryo lethal.',18799749) ##row 26
%sql INSERT INTO Germplasm_table (locus, germplasm , phenotype, pubmed) VALUES ('AT5G10510','plt3-1','Short roots and shortened root meristem.',17960244) ##row 27
%sql INSERT INTO Germplasm_table (locus, germplasm , phenotype, pubmed) VALUES ('AT5G11110','kns2','Defects are specific to pollen exine structure. Smaller mesh size in the exine structure. Increased number of baculae. Fully fertile.',18779216) ##row 28
%sql INSERT INTO Germplasm_table (locus, germplasm , phenotype, pubmed) VALUES ('AT5G11260','hy5-101','Under FRc conditions, the length mutant hypocotyls is increased compared to that of wild-type plants.  Under Rc conditions, the hypocotyl length is also increased and the cotyledon area is smaller.',16891401) ##row 29
%sql INSERT INTO Germplasm_table (locus, germplasm , phenotype, pubmed) VALUES ('AT5G11510','myb3r4-1','No visible phenotype.',17287251) ##row 30
%sql INSERT INTO Germplasm_table (locus, germplasm , phenotype, pubmed) VALUES ('AT5G12200','pyd2-2','The pyd2-2 mutant has a wild-type appearance under normal growth conditions. Pyrimidine nucleotide and uridine levels are not changed in the mutant, but uracil levels are increased. These mutants cannot grow normally when uracil is provided as a sole nitrogen source.',19413687) ##row 31
%sql INSERT INTO Germplasm_table (locus, germplasm , phenotype, pubmed) VALUES ('AT5G13290','crn-1','Increased meristem size. Vegetative meristems are are 30% larger than wild type. After bolting inflorescence meristems are enlarged and occasionally fasciated. Flowers occasionally produce extra organs in the first 3.',12345678) ##row 32

%sql SELECT * FROM Germplasm_table

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
32 rows affected.

[('AT1G01040', 'CS3828', 'Increased abundance of miRNA precursors.', 17369351),
 ('AT1G01060', 'lhy-101', 'The mutant plants are hypersensitive to both FRc and Rc light treatments in hypocotyl elongation and exhibits a small reciprocal enlargement in cotyledon area, albeit not statistically significant.', 16891401),
 ('AT1G01140', 'SALK_058629', 'hypersensitive to low potassium media', 17486125),
 ('AT1G01220', 'SALK_012400C', 'fkgp-1 mutants have about 40 times more L-fucose than wild type Arabidopsis plants, but the levels of other monosaccharides do not appear to differ s ... (41 characters truncated) ... henotypic abnormalities were observed in the fkgp-1 mutants, nor were any differences in the sugar composition of cell wall polysaccharides detected.', 18199744),
 ('AT2G03720', 'SALK_042433', 'Multiple straight hairs', 16367956),
 ('AT2G03800', 'gek1-1', 'Ethanol hypersensitivity.', 15215505),
 ('AT2G04240', 'xerico', 'Resistant to exogenous ABA. Seeds contained lower amounts of endogenous ABA than wildtype.', 17933900),
 ('AT2G05210', 'pot1-1', 'No visible phenotype.', 17627276),
 ('AT3G02130', 'rpk2-2', 'The homozygous progeny is indistinguishable from wild-type plants during vegetative growth but showed several morphological alterations after bolting. These plants displayed enhanced inflorescence branching and formed three times as many siliques and flowers as did wild-type plants.', 17419837),
 ('AT3G02140', 'afp4-1', 'Decreased germination on high concentrations of glucose and sorbitol.', 18484180),
 ('AT3G02230', 'rgp1-1', 'rgp1-1 mutants have significantly lower levels of UDP-L-arabinose mutase activity compared to wild-type plants and significantly lower levels of arabinose in their cell walls.', 21478444),
 ('AT3G02260', 'tir3-1 RGLG1:rglg1 rglg2', 'The triple homozygous progeny has low viability, accumulated anthocyanin, and all plants died before shoot emergence.', 17586653),
 ('AT3G02310', 'sep2-1', 'Non-described subtle phenotype.', 10821278),
 ('AT3G02680', 'atnbs1-1', 'Significantly smaller when grown in the presence of methyl methanosulfonate (MMS) with root growth.  Normal growth under standard growth conditions.', 17672843),
 ('AT3G02850', 'CS3816', 'The skor-1 mutant is sensitive to toxic cations in addition to K+ depletion.', 17568770),
 ('AT3G02870', 'vtc4-1', 'ascorbate deficient', 16595667),
 ('AT3G03260', 'hdg8-1', 'No visible phenotype.', 16778018),
 ('AT4G14790', 'pdd17', 'Defective pollen development.', 19237690),
 ('AT4G15210', 'bmy1-2', 'Plants cold-shocked for 6h have an increased starch content compared to wildtype.', 16297066),
 ('AT4G15560', 'cla1-1', 'Mutant seeds grown on medium supplemented with non-phosphorylated synthetic 1-deoxy-D-xylulose (DX) develop green leaves.', 10982425),
 ('AT4G15570', 'maa3', 'Homozygotes are not recovered. Female gametophyte development is delayed and asynchronous. During fertilization, fusion of polar nuclei does not occur. Polar nuclei nucloeli are smaller than WT.', 18772186),
 ('AT4G15802', 'Athspb-2', 'Early flowering, reduced fertility, aborted seeds.', 20388662),
 ('AT4G15880', 'esd4-2', 'Decreased mRNA levels of the floral repressors FLC and MAF4 and increased mRNA levels of the floral activators FT and SOC1.', 17513499),
 ('AT4G16420', 'prz1-1', 'Altered response to auxin and cytokinin', 12747832),
 ('AT4G16480', 'atint4-2', 'No visible phenotype.', 16603666),
 ('AT5G10480', 'pas2-3', 'Segregates 25% embryo lethal.', 18799749),
 ('AT5G10510', 'plt3-1', 'Short roots and shortened root meristem.', 17960244),
 ('AT5G11110', 'kns2', 'Defects are specific to pollen exine structure. Smaller mesh size in the exine structure. Increased number of baculae. Fully fertile.', 18779216),
 ('AT5G11260', 'hy5-101', 'Under FRc conditions, the length mutant hypocotyls is increased compared to that of wild-type plants.  Under Rc conditions, the hypocotyl length is also increased and the cotyledon area is smaller.', 16891401),
 ('AT5G11510', 'myb3r4-1', 'No visible phenotype.', 17287251),
 ('AT5G12200', 'pyd2-2', 'The pyd2-2 mutant has a wild-type appearance under normal growth conditions. Pyrimidine nucleotide and uridine levels are not changed in the mutant, but uracil levels are increased. These mutants cannot grow normally when uracil is provided as a sole nitrogen source.', 19413687),
 ('AT5G13290', 'crn-1', 'Increased meristem size. Vegetative meristems are are 30% larger than wild type. After bolting inflorescence meristems are enlarged and occasionally fasciated. Flowers occasionally produce extra organs in the first 3.', 12345678)]

In [14]:
%sql INSERT INTO Locus_table (locus, gene, protein_lenght) VALUES ('AT1G01040','DCL1',332) ##row 1
%sql INSERT INTO Locus_table (locus, gene, protein_lenght) VALUES ('AT1G01060','LHY',290) ##row 2
%sql INSERT INTO Locus_table (locus, gene, protein_lenght) VALUES ('AT1G01140','CIPK9',223) ##row 3
%sql INSERT INTO Locus_table (locus, gene, protein_lenght) VALUES ('AT1G01220','FKGP',190) ##row 4
%sql INSERT INTO Locus_table (locus, gene, protein_lenght) VALUES ('AT2G03720','MRH6',189) ##row 5
%sql INSERT INTO Locus_table (locus, gene, protein_lenght) VALUES ('AT2G03800','GEK1',196) ##row 6
%sql INSERT INTO Locus_table (locus, gene, protein_lenght) VALUES ('AT2G04240','XERICO',256) ##row 7
%sql INSERT INTO Locus_table (locus, gene, protein_lenght) VALUES ('AT2G05210','POT1A',221) ##row 8
%sql INSERT INTO Locus_table (locus, gene, protein_lenght) VALUES ('AT3G02130','RPK2',284) ##row 9
%sql INSERT INTO Locus_table (locus, gene, protein_lenght) VALUES ('AT3G02140','TMAC2',300) ##row 10
%sql INSERT INTO Locus_table (locus, gene, protein_lenght) VALUES ('AT3G02230','RGP1',301) ##row 11
%sql INSERT INTO Locus_table (locus, gene, protein_lenght) VALUES ('AT3G02260','BIG',279) ##row 12
%sql INSERT INTO Locus_table (locus, gene, protein_lenght) VALUES ('AT3G02310','SEP2',175) ##row 13
%sql INSERT INTO Locus_table (locus, gene, protein_lenght) VALUES ('AT3G02680','NBS1',190) ##row 14
%sql INSERT INTO Locus_table (locus, gene, protein_lenght) VALUES ('AT3G02850','SKOR',234) ##row 15
%sql INSERT INTO Locus_table (locus, gene, protein_lenght) VALUES ('AT3G02870','VTC4',311) ##row 16
%sql INSERT INTO Locus_table (locus, gene, protein_lenght) VALUES ('AT3G03260','HDG8',194) ##row 17
%sql INSERT INTO Locus_table (locus, gene, protein_lenght) VALUES ('AT4G14790','SUV3',312) ##row 18
%sql INSERT INTO Locus_table (locus, gene, protein_lenght) VALUES ('AT4G15210','BAM5',313) ##row 19
%sql INSERT INTO Locus_table (locus, gene, protein_lenght) VALUES ('AT4G15560','DXS',219) ##row 20
%sql INSERT INTO Locus_table (locus, gene, protein_lenght) VALUES ('AT4G15570','MAA3',294) ##row 21
%sql INSERT INTO Locus_table (locus, gene, protein_lenght) VALUES ('AT4G15802','HSBP',254) ##row 22
%sql INSERT INTO Locus_table (locus, gene, protein_lenght) VALUES ('AT4G15880','ESD4',265) ##row 23
%sql INSERT INTO Locus_table (locus, gene, protein_lenght) VALUES ('AT4G16420','ADA2B',279) ##row 24
%sql INSERT INTO Locus_table (locus, gene, protein_lenght) VALUES ('AT4G16480','INT4',284) ##row 25
%sql INSERT INTO Locus_table (locus, gene, protein_lenght) VALUES ('AT5G10480','PAS2',301) ##row 26
%sql INSERT INTO Locus_table (locus, gene, protein_lenght) VALUES ('AT5G10510','AIL6',310) ##row 27
%sql INSERT INTO Locus_table (locus, gene, protein_lenght) VALUES ('AT5G11110','SPS2',232) ##row 28
%sql INSERT INTO Locus_table (locus, gene, protein_lenght) VALUES ('AT5G11260','HY5',221) ##row 29
%sql INSERT INTO Locus_table (locus, gene, protein_lenght) VALUES ('AT5G11510','MYB3R-4',336) ##row 30
%sql INSERT INTO Locus_table (locus, gene, protein_lenght) VALUES ('AT5G12200','PYD2',310) ##row 31
%sql INSERT INTO Locus_table (locus, gene, protein_lenght) VALUES ('AT5G13290','CRN',189) ##row 32

%sql SELECT * FROM Locus_table

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
32 rows affected.

[('AT1G01040', 'DCL1', 332),
 ('AT1G01060', 'LHY', 290),
 ('AT1G01140', 'CIPK9', 223),
 ('AT1G01220', 'FKGP', 190),
 ('AT2G03720', 'MRH6', 189),
 ('AT2G03800', 'GEK1', 196),
 ('AT2G04240', 'XERICO', 256),
 ('AT2G05210', 'POT1A', 221),
 ('AT3G02130', 'RPK2', 284),
 ('AT3G02140', 'TMAC2', 300),
 ('AT3G02230', 'RGP1', 301),
 ('AT3G02260', 'BIG', 279),
 ('AT3G02310', 'SEP2', 175),
 ('AT3G02680', 'NBS1', 190),
 ('AT3G02850', 'SKOR', 234),
 ('AT3G02870', 'VTC4', 311),
 ('AT3G03260', 'HDG8', 194),
 ('AT4G14790', 'SUV3', 312),
 ('AT4G15210', 'BAM5', 313),
 ('AT4G15560', 'DXS', 219),
 ('AT4G15570', 'MAA3', 294),
 ('AT4G15802', 'HSBP', 254),
 ('AT4G15880', 'ESD4', 265),
 ('AT4G16420', 'ADA2B', 279),
 ('AT4G16480', 'INT4', 284),
 ('AT5G10480', 'PAS2', 301),
 ('AT5G10510', 'AIL6', 310),
 ('AT5G11110', 'SPS2', 232),
 ('AT5G11260', 'HY5', 221),
 ('AT5G11510', 'MYB3R-4', 336),
 ('AT5G12200', 'PYD2', 310),
 ('AT5G13290', 'CRN', 189)]

DECIRLE QUE HE METIDO LOS DATOS A MANO PQ NO HE COMPRENDIDO BIEN LOS EJEMPLOS DE CLASE.
MEJOR CON ALGÚN LOOP OLO QUE SEA PARA EVITAR CAMBIAR ALGÚN DATO EN LA ENTRADA MANUAL.

## Problem 4: Create reports, written to a file

1. Create a report that shows the full, joined, content of the two database tables (including a header line)

2. Create a joined report that only includes the Genes SKOR and MAA3

3. Create a report that counts the number of entries for each Chromosome (AT1Gxxxxxx to AT5Gxxxxxxx)

4. Create a report that shows the average protein length for the genes on each Chromosome (AT1Gxxxxxx to AT5Gxxxxxxx)

When creating reports 2 and 3, remember the "Don't Repeat Yourself" rule! 

All reports should be written to **the same file**.  You may name the file anything you wish.

OperationalError: (sqlite3.OperationalError) no such table: Germplasm_table
[SQL: SELECT * FROM Germplasm_table;]
(Background on this error at: http://sqlalche.me/e/e3q8)

In [5]:
print('Create a report that shows the full, joined, content of the two database tables')
%sql SELECT Germplasm_table.locus, Germplasm_table.germplasm, Germplasm_table.phenotype, Germplasm_table.pubmed, Locus_table.gene, Locus_table.protein_lenght\
FROM Germplasm_table, Locus_table\
WHERE Germplasm_table.locus = Locus_table.locus;

Create a report that shows the full, joined, content of the two database tables
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
(pymysql.err.ProgrammingError) (1146, "Table 'mysql.Germplasm_table' doesn't exist")
[SQL: SELECT Germplasm_table.locus, Germplasm_table.germplasm, Germplasm_table.phenotype, Germplasm_table.pubmed, Locus_table.gene, Locus_table.protein_lenght FROM Germplasm_table, Locus_table WHERE Germplasm_table.locus = Locus_table.locus;]
(Background on this error at: http://sqlalche.me/e/f405)

Como encabezado se muestra el de las propias tablas de la BD.
32 rows pq se muestran los 32 registros de ambas tablas relacionados por una key (el AGI code).

In [174]:
print('Create a joined report that only includes the Genes SKOR and MAA3')
%sql SELECT Germplasm_table.locus, Germplasm_table.germplasm, Germplasm_table.phenotype, Germplasm_table.pubmed, Locus_table.gene, Locus_table.protein_lenght\
FROM Germplasm_table, Locus_table\
WHERE Germplasm_table.locus = Locus_table.locus AND (Locus_table.gene = 'SKOR' OR Locus_table.gene = 'MAA3');

Create a joined report that only includes the Genes SKOR and MAA3
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
2 rows affected.

[('AT3G02850', 'CS3816', 'The skor-1 mutant is sensitive to toxic cations in addition to K+ depletion.', 17568770, 'SKOR', 234),
 ('AT4G15570', 'maa3', 'Homozygotes are not recovered. Female gametophyte development is delayed and asynchronous. During fertilization, fusion of polar nuclei does not occur. Polar nuclei nucloeli are smaller than WT.', 18772186, 'MAA3', 294)]

In [44]:
print('Create a report that counts the number of entries for each Chromosome (AT1Gxxxxxx to AT5Gxxxxxxx)')
%sql SELECT COUNT(*) AS "Total entries" FROM Germplasm_table; ##this counts how many entries are

Create a report that counts the number of entries for each Chromosome (AT1Gxxxxxx to AT5Gxxxxxxx)
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.

[(32,)]

In [85]:
%sql SELECT COUNT(*) AS "Entries for Chromosome 1" FROM Germplasm_table WHERE locus REGEXP 'AT1G';
##this counts how many entries for Chromosome 1 are

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.

[(4,)]

In [86]:
%sql SELECT COUNT(*) AS "Entries for Chromosome 2" FROM Germplasm_table WHERE locus REGEXP 'AT2G';
##this counts how many entries for Chromosome 2 are

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.

[(4,)]

In [87]:
%sql SELECT COUNT(*) AS "Entries for Chromosome 3" FROM Germplasm_table WHERE locus REGEXP 'AT3G';
##this counts how many entries for Chromosome 3 are

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.

[(9,)]

In [88]:
%sql SELECT COUNT(*) AS "Entries for Chromosome 4" FROM Germplasm_table WHERE locus REGEXP 'AT4G';
##this counts how many entries for Chromosome 4 are

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.

[(8,)]

In [89]:
%sql SELECT COUNT(*) AS "Entries for Chromosome 5" FROM Germplasm_table WHERE locus REGEXP 'AT5G';
##this counts how many entries for Chromosome 5 are

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.

[(7,)]

In [90]:
print('Create a report that shows the average protein length for the genes on each Chromosome (AT1Gxxxxxx to AT5Gxxxxxxx)')

%sql SELECT AVG(protein_lenght) AS 'Average protein length for genes on Chromosome 1' FROM Locus_table\
WHERE locus REGEXP 'AT1G';

Create a report that shows the average protein length for the genes on each Chromosome (AT1Gxxxxxx to AT5Gxxxxxxx)
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.

[(Decimal('258.7500'),)]

In [91]:
%sql SELECT AVG(protein_lenght) AS 'Average protein length for genes on Chromosome 2' FROM Locus_table\
WHERE locus REGEXP 'AT2G';

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.

[(Decimal('215.5000'),)]

In [92]:
%sql SELECT AVG(protein_lenght) AS 'Average protein length for genes on Chromosome 3' FROM Locus_table\
WHERE locus REGEXP 'AT3G';

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.

[(Decimal('252.0000'),)]

In [93]:
%sql SELECT AVG(protein_lenght) AS 'Average protein length for genes on Chromosome 4' FROM Locus_table\
WHERE locus REGEXP 'AT4G';

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.

[(Decimal('277.5000'),)]

In [94]:
%sql SELECT AVG(protein_lenght) AS 'Average protein length for genes on Chromosome 5' FROM Locus_table\
WHERE locus REGEXP 'AT5G';

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.

[(Decimal('271.2857'),)]

Omito la columna de los AGI de la segunda tabla por no repetir info.

<pre>

</pre>
## Don't forget to commit and push your answers before you leave!

It was wonderful to have you in my class!  I hope to see you again soon!

Good luck with your careers!!

Mark